data/Rijksmuseum_paintings/Convnext_demo.v
data/Rijksmuseum_paintings/Resnet50_v01.jpg
data/Rijksmuseum_paintings/Resnet151_v02_full.jpg
data/Rijksmuseum_paintings/Resnet151_v02_full.v
data/Rijksmuseum_paintings/Resnet151_v03_full.v
data/Rijksmuseum_paintings/Resnet152_v01.jpg
data/Rijksmuseum_paintings/Resnet152_v02.jpg
data/Rijksmuseum_paintings/ResNextLarge_v01_full.v
data/Rijksmuseum_paintings/ResNextLarge_v01.jpg
data/ink_removal/**/*.jpg
notebooks/.ipynb_checkpoints/*.*